<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <h2>RIDEZ</h2>
            <p>Premium Bicycles Since 2010</p>
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <h4>Shop</h4>
                <ul>
                    <li><a href="#">Mountain Bikes</a></li>
                    <li><a href="#">Road Bikes</a></li>
                    <li><a href="#">Electric Bikes</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Warranty</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2023 RIDEZ. All rights reserved.</p>
    </div>
</footer>

<script src="./User/assets/js/scriptLanding.js"></script>
</body>
</html>