
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoMinima - Premium Diecast</title>
    <link rel="stylesheet" href="./User/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <header class="header">
        <nav class="navbar">
          <div class="logo">
            <!-- <h1>Gear-UP</h1> -->
             <img src="/User/assets/images/GEAR-UP/Autominima.PNG" alt="gearup logo" class="logo-img">
            <div class="logo-underline"></div>
          </div>
      
          <ul class="nav-links">
            <li><a href="/" class="nav-link" >Home </a></li>
            <li><a href="#" class="nav-link">Offer-Zone</a></li>
            <li><a href="/shopPage" class="nav-link">Go to Store</a></li>
            <li><a href="#" class="nav-link">Category </a></li>
            <li><a href="/brandPage" class="nav-link">Brands</a></li>
            <li><a href="#" class="nav-link">Contact</a></li>
            <li><a href="#" class="nav-link">About Us</a></li>
          </ul>
      
          <ul class="auth-buttons">
            <% if (user) { %>
                <% console.log("user data:::", user); %>
              <li class="nav-link"  id="user-name">Hi, <%= user.name %></li>
             <div class="dropdown">
              
              <!-- User Icon -->
              <button class="dropdown-btn">
                 <i class="fas fa-user" style="font-size: larger;"></i>
              </button>

              <!-- Wishlist Icon -->
              <button class="dropdown-btn-heart" onclick="window.location.href='/Wishlist'">
                 <i class="fas fa-heart"></i><span class="wishlist-badge"><%= wishlistCount ||0 %></span>
              </button>
              
              <!-- Cart Icon -->
              <button class="dropdown-btn-shop" onclick="window.location.href='/userCart'">
                 <i class="fas fa-shopping-cart"></i><span class="cart-badge"><%= cartCount ||0 %></span>
              </button>

              <div class="dropdown-content">
                <a href="/userDashboard"><i class="fas fa-user"></i>Account</a>
                <a href="#"><i class="fas fa-shopping-bag"></i> Orders</a>
                <a href="#"><i class="fas fa-map-marker-alt"></i> Your Address</a>
                <a href="#"><i class="fas fa-cog"></i> Settings</a>
                <a href="#"><i class="fas fa-headset"></i> Contact Us</a>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
              </div>
            </div>

            <% } else { %>
              <li><a href="/login" class="nav-link">Login</a></li>
              <li><a href="/signup" class="nav-link">Sign-up</a></li>
            <% } %>
            </ul>
          </div>

          <!-- new for google auth and normal auth -->
          <!-- <ul class="auth-buttons">
            <li class="nav-link" id="user-name" style="display: none;">Hi, welcome 👋</li>
            <li><a href="/login" class="nav-link" id="login-link">Login</a></li>
            <li><a href="/signup" class="nav-link" id="signup-link">Sign-up</a></li>
            <li><a href="/logout" class="nav-link" id="logout-link" style="display: none;">Logout</a></li>
          </ul> -->
          
        </nav>
      </header>
      
