.social-icons-color,
.social-icons-simple {
  line-height: 1;
}
.social-icons-color .social-icon,
.social-icons-simple .social-icon {
  width: auto;
  height: auto;
  border: none;
}
.social-icons-color .social-icon:not(:last-child),
.social-icons-simple .social-icon:not(:last-child) {
  margin-right: 2rem;
}
.social-label {
  margin-bottom: 0;
  margin-right: 2rem;
}
.social-icons-sm .social-icon {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
}
.social-icons-sm .social-icon:not(:last-child) {
  margin-right: 0.5rem;
}
.social-icons-sm .social-label {
  margin-right: 1rem;
}
.social-icons-colored .social-icon.social-facebook {
  color: #fff;
  border-color: #8f79ed;
  background-color: #8f79ed;
}
.social-icons-colored .social-icon.social-twitter {
  color: #fff;
  border-color: #79c8ed;
  background-color: #79c8ed;
}
.social-icons-colored .social-icon.social-instagram {
  color: #fff;
  border-color: #dd6d9a;
  background-color: #dd6d9a;
}
.social-icons-colored .social-icon.social-youtube {
  color: #fff;
  border-color: #e66262;
  background-color: #e66262;
}
.social-icons-colored .social-icon.social-pinterest {
  color: #fff;
  border-color: #e66262;
  background-color: #e66262;
}
.social-icons-colored .social-icon.social-linkedin {
  color: #fff;
  border-color: #3399cc;
  background-color: #3399cc;
}
.social-icons-colored .social-icon:hover,
.social-icons-colored .social-icon:focus {
  background-color: #fff !important;
  border-color: #d7d7d7 !important;
}
.social-icons-colored .social-icon:hover.social-facebook,
.social-icons-colored .social-icon:focus.social-facebook {
  color: #8f79ed;
}
.social-icons-colored .social-icon:hover.social-twitter,
.social-icons-colored .social-icon:focus.social-twitter {
  color: #79c8ed;
}
.social-icons-colored .social-icon:hover.social-instagram,
.social-icons-colored .social-icon:focus.social-instagram {
  color: #dd6d9a;
}
.social-icons-colored .social-icon:hover.social-youtube,
.social-icons-colored .social-icon:focus.social-youtube {
  color: #e66262;
}
.social-icons-colored .social-icon:hover.social-pinterest,
.social-icons-colored .social-icon:focus.social-pinterest {
  color: #e66262;
}
.social-icons-colored .social-icon:hover.social-linkedin,
.social-icons-colored .social-icon:focus.social-linkedin {
  color: #3399cc;
}

.footer-bottom .social-icons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.icon-arrow-up:before {
  content: "\f122";
}


#scroll-top {
  width: 5rem;
  height: 5rem;
  position: fixed;
  right: 50px;
  bottom: 128px;
  z-index: 999;
  color: #cccccc;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  visibility: hidden;
  opacity: 0;
  border-radius: 0;
  border: none;
  background-color: #fafafa;
  font-size: 3rem;
  transition: all 0.4s ease;
  transform: translateY(60px);
  -ms-transform: translateY(60px);
}
#scroll-top:hover,
#scroll-top:focus {
  color: #777;
  background-color: #eaeaea;
}
#scroll-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
}
@media screen and (min-width: 768px) {
  #scroll-top {
    display: flex;
  }
}

html {
  scroll-behavior: smooth;
}